.image-container {
  width: 100%;
  display: flex;
  flex-direction: column; /* Disposition verticale */
  gap: 30px; /* Espacement entre les images */
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Cache les débordements */
  background-color: black; /* Fond pour éviter les vides */
}

.image-container div {
  width: 30%; /* Chaque image dans une div, taille responsive */
  height: 100px; /* Taille fixe pour chaque image */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 12px; /* Pour adoucir les coins */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ajout d'un léger ombre */
}

.image-container img {
  margin: 9px;
  width: 80%; /* Prendre toute la largeur de la div */
  height: 800%; /* Prendre toute la hauteur de la div */
  object-fit: cover; /* Ajuste l’image pour occuper tout l’espace */
  border-radius: 12px; /* Adoucir les coins de l’image */
}
